@import "global/libs";
@import "global/vars";
@import "global/fonts";
@import "global/reset";
@import "global/global";
@import "components/header";
@import "components/footer";
@import "index/about";
@import "index/result";
@import "index/service";
@import "index/partners";




@import "global/media";
