<section class="simple">
  <div class="container">
    <div class="simple__inner">
      <div class="simple__info">
        <h1 class="simple__title">Simple скетчбук</h1>
        <p class="simple__text">
          80 листов, твердая обложка, бумага  Fabriano 200 г/м2. Подойдет и для графики и для акварели. Для самых смелых творческих замыслов!
        </p>
        <a class="simple__btn" href="#">Купить</a>
      </div>
      <img class="simple__img" src="../../../images/pic.png" alt="" />
    </div>
  </div>
</section>
